html {
	font-family: NEOTERIC;
}

#btn-container{
	position: absolute;
	margin: 3.6vw 87%;
}

.login_Btn{
	position: absolute;
	right: 1vw;
	width: 8vw;
	z-index: 2;
	font-weight:lighter;
	font-family:gill sans;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:1.4vw;
	padding:6px 24px;
	text-decoration:none;

}

.login_Btn:hover {
	position: absolute;
	right: 1vw;
	width: 8vw;
	z-index: 2;
	color:rgb(22,124,255);
	text-decoration: none;
 	
	}

.login_Btn:active {
	position: absolute;
	right: 1vw;
	width: 8vw;
	top:1px;
}

.create_Btn{
	position: absolute;
	margin: 0px 3%;
	width: 11vw;
	text-align: center;
	z-index: 2;
	background-color:rgb(22,124,255);
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-weight:lighter;
	font-family:gill sans;
	font-size:1.4vw;
	padding:6px 24px;
	text-decoration:none;
	border-color:rgb(39,175,208);
	border-width:.2vw;
	border-style: solid;
	box-sizing:border-box;

	
}

.create_Btn:hover {
	border-color:rgb(22,124,255);
	border-width:.2vw;
	border-style: solid;
	color:#fff;
	box-sizing:border-box;
}

.create_Btn:active {
	position: absolute;
	margin: 0px 3%;
	width: 11vw;
}

.create_Btn:active {
	position: absolute;
	margin: 0px 3%;
	width: 11vw;
	top:1px;
}

/* Once user is logged in, nav bar buttons change */

.sell-btn {
	position: absolute;
	right: 7vw;
	top: 0vw;
	width: 8vw;
	background-color: #155EFC;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	text-align: center;
	font-size:1.3vw;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}

.sell-btn:hover {
	position: absolute;
	color: orange;
	text-decoration: none;
 	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #155EFC), color-stop(1, #33bdef));
	background:-moz-linear-gradient(top, #155EFC 5%, #33bdef 100%);
	background:-webkit-linear-gradient(top, #155EFC 5%, #33bdef 100%);
	background:-o-linear-gradient(top, #155EFC 5%, #33bdef 100%);
	background:-ms-linear-gradient(top, #155EFC 5%, #33bdef 100%);
	background:linear-gradient(to bottom, #155EFC 5%, #33bdef 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#155EFC', endColorstr='#33bdef',GradientType=0);
	background-color:#155EFC
}

.sell-btn:active {
	position: absolute;
}

.my-tix-btn {
	position: absolute;
	right: -2.5vw;
	top: 0vw;
	width: 8.5vw;
	background-color: #155EFC;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;

	font-size:1.3vw;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}

.my-tix-btn:hover {
	position: absolute;
	color: orange;
	text-decoration: none;
 	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #155EFC), color-stop(1, #33bdef));
	background:-moz-linear-gradient(top, #155EFC 5%, #33bdef 100%);
	background:-webkit-linear-gradient(top, #155EFC 5%, #33bdef 100%);
	background:-o-linear-gradient(top, #155EFC 5%, #33bdef 100%);
	background:-ms-linear-gradient(top, #155EFC 5%, #33bdef 100%);
	background:linear-gradient(to bottom, #155EFC 5%, #33bdef 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#155EFC', endColorstr='#33bdef',GradientType=0);
	background-color:#155EFC
}

.my-tix-btn:active {
	position: absolute;

}