.buy-form-group {
  text-align: center !important;
  position: relative;
}
.buy-form-group-toggled{
	height: 0px;
}
#view-ticket-info {
	text-align: center !important;
}

#ticket-details {
	padding:5vw !important;
}