@media screen and (max-width: 768px) {
    #wrapper.toggled #sidebar-wrapper {
    width: 100%;
	}
	#close {
		font-size: 5vw;
	}
	.sidebar-nav li {
		height: 10vw;
		text-align: center;
	}
	.sidebar-nav li a {
		font-size: 6vw;
		z-index: 500;
	}
    #top-nav-bar-container {
    	height: 15vw;
    }
    #menu {
    	width: 7vw;
    	height: 7vw;
    }
    #tixzoo-logo {
    	width: 50vw;
    	margin-left: 35vw;
    }
    #btn-container {
        display: none;
    }
    .main {
        display: none;
    }
    .cb-slideshow h1 {
    	font-size: 9vw;
    	margin-top: 2vw;
    	margin-left: 0vw;
    }
    .cb-slideshow h3 {
    	font-size: 5vw;
    	margin-left: 0vw;
    	margin-top: 8vw;
    }
    #innerSearch {
	    width: 95%;
	    margin-left: auto;
	    margin-right: auto;
	    margin-top: 13vw;
	}
	#searchField {
		height: 10vw;
		font-size: 5vw;
	}
	.ember-view #search-btn {
		height: 10vw;
	}
	.suggestions a {
		font-size: 5vw;
	}
	input[type="search"]:focus + .suggestions li{
    height:7.8vw;
	}
	#main-features{
		z-index: 5;
	}
	#footer-container{
		height: 20vw;
	}
	.newsletter-title{
		font-size: 8vw;
		margin-top: -2vw;
	}
	footer {
		height: 20vw;
	}
	.newsletter .newsletter-form {
		width: 60%;
		height: 7vw !important;
		font-size: 3.5vw !important;
		color: white !important;
	}
	#newsletter-btn {
		width: 25vw;
		font-size: 1.5vw !important;
	}
	.footer-link {
		font-size: 3vw;
	}
	ul#footer-class {
		width: 100%;
		text-align: center;
	}
	.social-media-icon1 {
		width: 5vw;
	}
	.social-media-icon2 {
		width: 5vw;
	}
	.social-media-icon3 {
		width: 5vw;
	}
	#footer-class li {
		padding-left: 5.5vw;
	}
	.copyright p {
		font-size: 2vw;
	}
}