#search-bar {
    position: absolute;
    height: 4vw;
    width: 10vw;
    bottom: 25vw;
    left: 24.2vw;
    z-index: 16;
}

#search-bar-feed {
    position: absolute;
    height: 2vw;
    width: 350px;
    top: 2vw;
    left: 26vw;
}

.ember-view.ember-text-field {
    width:50vw;
    
}

.searchbox{
/*definint width of form element*/
    z-index: 15;
    width:10vw;
    margin:0;
    padding:0;
/*centering the form element*/

}

input[type="search"]:hover  {
  background-image:url(img/searchbar2.png);
  border-width:1.5px;
  border-color:rgb(22,124,255);
  border-style:solid;
}

input[type="search"]:focus  {
  background-image:url(img/searchbar2.png); 
  border-width:1.5px;
  border-color:rgb(22,124,255);
  border-style:solid;
  

}

input[type="search"]{
    padding:1vw 4vw 1vw 1.5vw;
    font-size:1.75vw;
    color:rgb(167,172,194);
    font-family:gill sans;
    font-weight: lighter;
    box-sizing:border-box;
    border-width:1.5px;
    border-color:#fff;
    border-style:solid;
/*removing boder from search box*/
   
/*defining background image as a search symbol*/

    background-image:url(img/searchbar1.png);
    background-repeat:no-repeat;
/*background-size*/
-webkit-background-size:2vw 2vw;
   -moz-background-size:2vw 2vw;
     -o-background-size:2vw 2vw;
        background-size:2vw 2vw;
/*positioning background image*/
    background-position:47vw 1vw;
/*changing background color form white*/
    background-color: white;
    border-radius: 3px;
    transition:all .3s ease;
}
/*now using placeholder property to change color of placholder text and making it consitent accross the browser by use of prefix*/
input[type="search"]::-webkit-input-placeholder{
    color: rgb(167,172,194);
}
input[type="search"]:-moz-placeholder { /* Firefox 18- */
   color: rgb(167,172,194);
}
input[type="search"]::-moz-placeholder {  /* Firefox 19+ */
   color: rgb(167,172,194);
}
input[type="search"]:-ms-input-placeholder {  /* interner explorer*/
   color: rgb(167,172,194);
}
.suggestions a {

    display:block;
/*removing underlines from anchor element*/
    text-decoration:none;
    color:rgb(167,172,194);
    font-size:1.3vw;
    background-color:#fff;
    padding:1vw;
    margin:0;
    font-family:gill sans;
}

.suggestions {
  padding:0;
  margin:0;
}
ul{
/*removing predefined bullet points from list*/
    list-style:none;
/*removing padding from list items*/
    padding:0;
    width:50vw;
    margin:0 0 0 0;
    display:inline-block;
}
ul li{
margin:0 0 0 0;
padding:0;

}

.suggestions ul li  {
  
}
/*adding effect when the mouse is hovered over list item*/
.searchbox ul li a:hover{
    color:rgb(22,124,255);
    background:rgba(255,255,255,255);
}
/*moving it slightly toware right when hovered*/
.searchbox ul li:hover{
/*transform*/
-webkit-transform:scale(1.1);
   -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
     -o-transform:scale(1.1);
        transform:scale(1.1);
}
/*now first we will hide the suggestion list*/
.suggestions li{
    overflow:hidden;
    height:0;
    -webkit-transition:all 0.3s ease-in-out;
   -moz-transition:all 0.3s ease-in-out;
     -o-transition:all 0.3s ease-in-out;
        transition:all 0.3s ease-in-out;
  }
/*and make the suggestion reappear when user focus on search field*/
input[type="search"]:focus + .suggestions li{
    height:3.8vw;
    padding:0;
    margin:0;
    border-width:1px 0 1px 0;
    border-style:solid;
    border-color:rgb(167,172,194);
    text-align:justify;
}

.suggestions:focus li {
  text-align: justify;
}

.byline{
  text-align:justify;
  font-size:18px;
  padding:0;
  margin:0;
}
.byline a{
  text-decoration:none;
  color: #1f5350;
  padding:0;
  margin:0;
}

textarea:focus, input:focus{
    outline: 0;
    text-align: justify;
}
