a {
    color: #1e7ad3;
    text-decoration: none;
}

a:hover { text-decoration: underline }

.container, .main {
    position: absolute;
    width: 6vw;
    top: 32vw;
    left: 15.5vw;
    height: 3vw;
    z-index: 10;

}

.main { margin-top: 4vw }

input {
    font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #555860;
}

.search {
    position: relative;
    margin: 0 auto;
    width: 70vw;
    height: 10vw;
    top: 10vw;
    left: 10vw;
}

#search-mag {
    position: relative;
    right: 3.7vw;
    bottom: .2vw;
    height: 2.5vw;
    z-index: 5;
}

#search-button {
    position: absolute;
    border: none;
    z-index: 4;
    right: 20.55vw;
    height: 4.1vw;
    border-radius: 0 4px 4px 0;
    top: 0px;
    width: 5vw;
    background-color:rgb(0,128,255);

}

.search input {
    height: 4vw;
    width: 70%;

    font-size: 1.6vw;
    padding-left: 2vw;

    background: white url(img/searchbar1.png) 60vw 6px no-repeat;

    border-width: 1px;
    border-style: solid;
    border-color: #a8acbc #babdcc #c0c3d2;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -moz-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -ms-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -o-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
}

.search input:focus {
    outline: none;
    border-color: #66b1ee;
    -webkit-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -moz-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -ms-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -o-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
}

.search input:focus + .results { display: block }

.search .results {
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 0;
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #cbcfe2 #c8cee7 #c4c7d7;
    border-radius: 3px;
    background-color: #fdfdfd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #eceef4));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -moz-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -ms-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -o-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: linear-gradient(top, #fdfdfd, #eceef4);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.search:after,
.search ul:after {
  content: '';
  display: block;
  clear: both;
}
.search a {
  background: #141414;
  background: -moz-linear-gradient(top, #333333 0%, #141414 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #141414));
  background: -webkit-linear-gradient(top, #333333 0%, #141414 100%);
  background: -o-linear-gradient(top, #333333 0%, #141414 100%);
  background: -ms-linear-gradient(top, #333333 0%, #141414 100%);
  background: linear-gradient(to bottom, #333333 0%, #141414 100%);
  color: #ffffff;
  display: block;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  padding: 19px 20px;
  text-decoration: none;
}
.search ul {
  list-style: none;
}
.search > ul > li {
  display: inline-block;
  float: left;
  margin: 0;
}
.search.align-center {
  text-align: center;
}
.search.align-center > ul > li {
  float: none;
}
.search.align-center ul ul {
  text-align: left;
}
.search.align-right > ul {
  float: right;
}
.search.align-right ul ul {
  text-align: right;
}
.search > ul > li > a {
  color: #ffffff;
  font-size: 12px;
}
.search > ul > li:hover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #0fa1e0;
  margin-left: -10px;
}
.search > ul > li:first-child > a {
  border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
}
.search.align-right > ul > li:first-child > a,
.search.align-center > ul > li:first-child > a {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
.search.align-right > ul > li:last-child > a {
  border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
}
.search > ul > li.active > a,
.search > ul > li:hover > a {
  color: #ffffff;
  box-shadow: inset 0 0 3px #000000;
  -moz-box-shadow: inset 0 0 3px #000000;
  -webkit-box-shadow: inset 0 0 3px #000000;
  background: #070707;
  background: -moz-linear-gradient(top, #262626 0%, #070707 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #262626), color-stop(100%, #070707));
  background: -webkit-linear-gradient(top, #262626 0%, #070707 100%);
  background: -o-linear-gradient(top, #262626 0%, #070707 100%);
  background: -ms-linear-gradient(top, #262626 0%, #070707 100%);
  background: linear-gradient(to bottom, #262626 0%, #070707 100%);
}
.search .has-sub {
  z-index: 1;
}
.search .has-sub:hover > ul {
  display: block;
}
.search .has-sub ul {
  display: none;
  position: absolute;
  width: 200px;
  top: 100%;
  left: 0;
}
.search.align-right .has-sub ul {
  left: auto;
  right: 0;
}
.search .has-sub ul li {
  *margin-bottom: -1px;
}
.search .has-sub ul li a {
  background: #0fa1e0;
  border-bottom: 1px dotted #31b7f1;
  font-size: 11px;
  filter: none;
  display: block;
  line-height: 120%;
  padding: 10px;
  color: #ffffff;
}
.search .has-sub ul li:hover a {
  background: #0c7fb0;
}
.search ul ul li:hover > a {
  color: #ffffff;
}
.search .has-sub .has-sub:hover > ul {
  display: block;
}
.search .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}
.search.align-right .has-sub .has-sub ul,
.search.align-right ul ul ul {
  left: auto;
  right: 100%;
}
.search .has-sub .has-sub ul li a {
  background: #0c7fb0;
  border-bottom: 1px dotted #31b7f1;
}
.search .has-sub .has-sub ul li a:hover {
  background: #0a6d98;
}
.search ul ul li.last > a,
.search ul ul li:last-child > a,
.search ul ul ul li.last > a,
.search ul ul ul li:last-child > a,
.search .has-sub ul li:last-child > a,
.search .has-sub ul li.last > a {
  border-bottom: 0;
}