/* Tixzoo CSS Page */

a {
  text-decoration: none;
}

/* Navigation bar styling */

.nav-bar {
  background-color: #242538;
  position: absolute;
  z-index: 1;
  margin: 0px 0px;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;

  }

.nav-bar a {
  color: white;
}

#nav-input {
  display: inline;
  position: absolute;
  left: 2em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1em;
  position: absolute;
  right: 2em;
  display: inline;
}

li {
  margin-right: 2em;
  display: inline;
}

#logo {
  font-size: 1.75em
}

a:hover {
  color: orange;
}

.main-banner {
  padding: 0;
  margin: 0;
  color: white;
  height: 25em;
  width: 100%;
  background-image: url(../imgs/tixzoo-land-2.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: inline-block;
  text-align: center;
}

.main-banner h1 {
  margin-top: 6%;
  font-size: 4em;
}

.main-banner h2 {
  font-size: 2em;
}




footer {
  background-color: #3D3D42;
  padding: 1.5em 1.5em;
  text-align: center;
  color: white;
  width: 100%;
}

footer a {
  color: white;
  margin: .5em;
}

#footer-input {
  display: inline;
  position: absolute;
  right: 2em;
  }

footer button {
  padding: 7px 12px;
  margin: 0;
  background: #66468C;
  color: #FFF;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 1em;
  font-family: 'Abel', sans-serif;
  position: relative;
  top: 2px;
  right: 3.5px;
  border-left: solid darkgray 1px;
}

footer input {
  padding: 10px 30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  margin: 0;
  font-family: 'Abel', sans-serif;
  box-shadow: inset 3px 3px 3px gray;
}

/* Buttons */

#nav-button {
  padding: 4px 12px;
  margin: 0;
  background: #66468C;
  color: #FFF;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 1em;
  font-family: 'Abel', sans-serif;
  position: relative;
  top: 2.5px;
  right: 3.5px;
  border-left: solid darkgray 1px;

}

.nav-bar input {
  padding: 10px 30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  margin: 0;
  font-family: 'Abel', sans-serif;
  box-shadow: inset 3px 3px 3px gray;
}

#main-button-1 {
  padding: 12px 35px;
  background: #66468C;
  color: #FFF;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  font-family: 'Abel', sans-serif;
  margin: 2%;
}

#main-button-2 {
  padding: 12px 35px;
  background: transparent;
  color: #FFF;
  border: 2px white solid;
  border-radius: 5px;
  font-size: 1em;
  font-family: 'Abel', sans-serif;
  margin: 2%;
}