


/* Nav Container Contents */

#top-ticketfeed-navbar {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 9vw;
  z-index: 1000;
   background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  copy
  width:100%;
  position:fixed;
  left:0;
  right:0;
  top:0;
}

#search-suggestions {
  padding: 1em;
}

#search-suggestions a {
  color: white;
  padding: 0 1em 0 1em;
}

#tixzoo-logo-feed {
  position:absolute;
  left: 3vw;
  top: 3vw;
}

a:hover {
  text-decoration: none;
  color: orange;
}

#ticket-feed-pic {
  position: relative;
  height: 1000em;
  width: 100em;
  z-index: 1;
}

#ticket-feed-container {
  position: relative;
  display: table;
  width: 100%;
  left: 0px;
  color: white;
  z-index: 1
}

.dropdown {
  position: ;
}

#filter-suggestion-links {
  position: relative;
  top: 2em;
  text-align: center;
  padding: 2.5em 1.5em 0 1.5em;
  height: 6em;

}

#filter-suggestion-links a {
  margin: .5em;
}

#users-also-searched {
  display: inline-block;
  top: 1em;
  color: black;
}

#background-feedimg {
  left: 0%;
  z-index: 2;
  width: 100%;
  height: 50em;
}

.ticket-feed-item {
  z-index: 3;
  margin: 1.4em;
  width: 28%;
  height: 25vw;
  display: inline-block;
  background-color: white;
  border-radius: 3%;
  position: relative;
  transition: all .2s;
}

.ticket-feed-item:hover {
  transition: all .2s;
  -ms-transform: scale(1.15, 1.15); /* IE 9 */
  -webkit-transform: scale(1.15 ,1.15); /* Safari */
  transform: scale(1.15, 1.15);
  cursor: pointer;
}

#ticket-feed-positioner {
  padding-top: 9vw;
  background-color: #f2f2f2;
  z-index: 2;
  height: 110vw;
  height: 290em;
  margin-left: 0vw;
  margin-right: 0vw;
  text-align: center;
  background: -webkit-linear-gradient(gray, lightgrey); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(gray, lightgrey); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(gray, lightgrey); /* For Firefox 3.6 to 15 */
  background: linear-gradient(gray, lightgrey); /* Standard syntax */
  position: relative;

}

#ticket-info {
  text-align: center;
  color: black;
  position: relative;
  margin: -3.8vw 6vw;
  width: 17vw;
  font-size: 1.4vw
}

#ticket-info a {
  display: block;
  margin-top: .2vw;
}

.user-feed-pic {
  height: 5vw;
  width: 5vw;
  border-radius: 50%;
  position: absolute;
  left: 1vw;
  top: 1vw;
  margin-left: 1vw;
  margin-top: 1vw;
}

.artist-feed-pic {
  max-height: 10vw;
  left: 1vw;
  border-radius: 5%;
  width: 26vw;
  bottom: 1vw;
  position: absolute;

}

#artist-link {
  font-size: 1.75vw;
  position: absolute;
  top: 6vw;
  left: 3vw;
}

#date-link {
  color: black;
  position: absolute;
  top: 8.5vw;
  left: 6vw;
}

#time-link {
  color: black;
  position: absolute;
  top: 10.75vw;
  left: 5.75vw;
}

#location-link {
  color: black;
  position: absolute;
  top: 13vw;
  left: 5;
}

#price-link {
  position: absolute;
  bottom: 1vw;
  right: 1.5vw;
  font-size: 4vw;
}

#price-link {
  position: absolute;
  bottom: 1vw;
  right: 1.5vw;
  font-size: 4vw;
}

#time-ago {
  color: orange;
  position: absolute;
  top: .5vw;
  right: 1.5vw;
  font-size: 1.2vw;
}