.ticket-wallet-container {
	width:100%;
	height:100%;
	background-image:url(img/99.jpg);
	background-position: 0 -20vw;
}

.wallet {
	position:absolute;
	width:40vw;
	height:38vw;
	background:lightgray;
	margin: 7vw auto;
	margin-bottom: 0;
	left:0;
	right:0;
	text-align: center;
	padding-top: .5vw;
	-webkit-box-shadow: 10px 10px 6px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 6px -8px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 6px -8px rgba(0,0,0,0.75);
	border-radius: 3px;
}

.wallet h1 {
letter-spacing: .2vw;
color:white;
font-size: 1.4vw;
}

.wallet-tickets {
	height:30vw;
	width:30vw;
	background: white;
}

.wallet-tickets li {
	width:100%;
	height:5vw;
	border-bottom: 1px lightgray solid;
	text-align: justify;
}

.wallet-tickets li img {
	height:100%;
	width:5vw;
	border-right:6px solid #0072BB;
	float:left;
}
.wallet-tickets li:last-child img {
	border-right:6px solid #E18335;
}

.wallet-tickets li:nth-child(2) img {
	border-right:6px solid #8FC93A;
}
.ticket-wallet-details {
	height:100%;
	width:15vw;
}

.ticket-wallet-details li {
	height:1vw;
	width:100%;
	border:none;
	text-align: none;
	text-transform: none;
	padding:.3vw;
	font-size: 1vw;
}

.ticket-wallet-details li {
	font-weight:lighter;
}


.ticket-wallet-details li a {
font-size: 1vw;
color:gray;
text-transform: none;
}

.open-pdf {
	text-align: center;
	width:5vw;
	float:right;
	color:#0080FF;
	text-transform: none;
	margin:1.5vw;
	font-size: 1vw;
	padding:.3vw 0;
	border: 1px solid #0080FF;
	font-weight: lighter;
}

.ticket-wallet-details li:first-child {
	font-size: 1vw;
	font-weight: bold;
}

