

#ticket-post-container {
  height: 60em;
  background-color: white;
  background-image:url(img/90.jpg);
}

#ticket-post-positioner-left {
  margin-top: 3vw;
  height: 50%;
  position: relative;
  float:left;
  width: 50%;
  background-color: none;
}
.btn-file {
  margin-top:2vw;
}
#ticket-post-positioner-right {
  margin-top: 3vw;
  height: 50%;
  position: relative;
  float:left;
  width: 50%;
  background-color: none;
}

#ticket-input-box {
  position: absolute;
  top: 5vw;
  left: 5vw;
  width: 39vw;
  height: 45vw;
  background-color: rgba(0, 0, 0, .6);
  border-radius: 3px;
  border:1px white solid;
}

.dropdown-menu {
  display:none;
  background:lightgray;
  width:6.2vw;
}
.dropdown-menu ul {
  background:lightgray;
}

.credit-dropdown .btn, #ticket-input-box .btn  {
  padding:0 .5vw;
  background:none;
  border-radius:0;
  color:white;
  border:1px white solid;

}

#ticket-input-box .btn:last-child {
  padding:1vw .5vw;
}

.dropdown-menu li {
  width:100%;
}
.credit-dropdown .dropdown-menu ul {
  text-align: center;
  }

.credit-dropdown .dropdown-menu {
  width:14.5vw;
  padding:0;
}

.credit-dropdown .dropdown-menu li {
  width:14.5vw;
  left:0;
  right:0;
  top:0;
} 

.credit-dropdown .dropdown-menu li a {
  font-size: .8vw;
  }

#ticket-post-inputs input {
  height: 3vw;
  width: 22vw;
  font-size: 1.1vw;
  border:1px white solid;
  display: block;
  background: none;
  margin-top: 1.5vw;
  padding-left: 1vw;
  color:white;
}


#ticket-post-inputs input[type=submit] {
  margin-top: 0;
  position: relative;
  height: 3vw;
  width: 15vw;
  color: white;
  font-size: 1.2vw;
  border: white 1px solid;
  font-family: gill sans;
  font-weight: lighter;
  margin: 28vw 3vw 0 3vw;
  text-align: center !important;
  padding:0;
}
#ticket-post-inputs input[type=submit]:hover {
  background: rgb(22, 124, 255);
}

.input-text {
  width:100%;
  text-align: center;
  color:white;
  font-size: 1.2;
  margin-top: 4vw;
}

#ticket-post-inputs input[type=submit]:focus {
  text-align: center;
}

#ticket-post-inputs {
  position: relative;
  margin: 3vw 8.5vw;
}

#enter-post-info {
  color: white;
  margin-top: 1.5vw;
  font-family: gill sans;
  letter-spacing: .5vw;
  font-weight: lighter;
  text-align: center;
  position: relative;
  font-size: 2.5vw;
  padding-bottom: 1vw;
  border-bottom: rgb(22, 124 ,255) solid 1px;
}

#enter-validation {
  color: white;
  letter-spacing: .5vw;
  margin-top: 1.5vw;
  font-family: gill sans;
  font-weight: lighter;
  text-align: center;
  position: relative;
  font-size: 2.5vw;
  padding-bottom: 1vw;
  border-bottom: rgb(22, 124 ,255) solid 1px;
}

.quantity-dropdown {
  display:none !important;
  position: absolute;
}

.type-dropdown {
  max-width: 1vw;
  position:relative;
  float:right;
  margin:2vw 5vw 1vw 0;
}

.btn-file {
  overflow: hidden;
  background-color: white;
  position: absolute;
}
.btn-file input[type=file] {
    position: absolute;
    top: 20px;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 1.2vw;
    text-align: center;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.credit-dropdown {
  position: relative;
  display: inline;
  width:4vw;
  margin:2vw 13vw 0 0;
  float:right;
}