

#user-profile-container {
  height: 100%;
  width:100%;
  background-image:url(img/93.jpg);
  background-repeat: no-repeat;

}

.profile-upright-container {
  position: relative;
  float:left;
  background-color: rgba(255, 255, 255, 0.5);
  height: 23vw;
  width:60vw;
  border: 1px solid white;
}

a:hover {
  text-decoration: none;
}

.profile-upright-container .active {

}

.user-prof-pic {
  position: absolute;
  width: 10vw;
  border-radius: 10px;
  top: 1vw;
  left: 1vw;
  border: 2px rgb(0,128,255) solid;
}

#profile-title {
  position: absolute;
  left: 34.5vw;
  top: 2vw;
  margin: 0vw;
}

#current-mood {
  position: absolute;
  top: 8vw;
  left: 24vw;
  text-decoration: underline;
  color:rgb(67,173,216);
  font-size: 1.7vw;
}

#profile-status {
  position: absolute;
  width: 60%;
  left: 24vw;
  top: 11vw;
  font-size: 1vw;
}

.rating {
  position: absolute;
  left: 38.5vw;
  top: 5.5vw;
  display: none;
}

#music-tags {
  position: absolute;
  left: 24vw;
  top: 16.5vw;
  text-decoration: underline;
  color:rgb(67,173,216);
  font-size: 1.7vw;
  display:none;
}

#music-tag-list {
  position: relative;
  display:none;
}

#music-tag-list li {
  background-color: rgb(0,128,255);
  padding: 1vw;
  margin: .8vw;
  display: inline-block;
  border-radius: 4px;
  color: white;
  box-shadow:inset -3px 6px 12px rgba(0,0,0,0.25);
}

#add-friend-btn {
  display:none;
  position: absolute;
  text-align: center;
  display:none;
  top: 24vw;
  left: 3vw;
  color: white;
  font-size: 3vw;
  height: 4vw;
  width: 4vw;
  background-color:rgb(202,202,217);
  /* Firefox v3.5+ /
  -moz-box-shadow:inset -3px 6px 12px rgba(0,0,0,0.25);
  /  Safari v3.0+ and by Chrome v0.2+ /
  -webkit-box-shadow:inset -3px 6px 12px rgba(0,0,0,0.25);
  / Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
  box-shadow:inset -3px 6px 12px rgba(0,0,0,0.25);
}



.has-submenu > ul {
  position:absolute;
  z-index:10000;
  display:none;
}


.has-submenu:hover > ul {
  display:block;
  max-width:20vw;
  -webkit-animation-name:slideDown;
  -webkit-animation-duration:.5s;
  -webkit-animation-timing-function: ease;
  }

@-webkit-keyframes slideDown {
  from {
    -webkit-transform:translateY(-100%);
  }

  to {
    -webkit-transform:translateY(0);
  }

} 


.has-submenu > ul > li {
  border-top: darkgray 1px solid;
  width:20vw;
  background:white;
  padding: .5vw;
  box-sizing:border-box;
  z-index: 10000;
  }

  .has-submenu > ul > li:last-child {
    text-align: center;

  }

.has-submenu > ul > li:last-child:hover {
  background:lightgray;
}
.has-submenu ul > a {
font-size: 1vw;
}
#profile-midright-container {

  background:rgba(255, 255, 255, 0.5);
  position: relative;
  height:5vw;
  float:left;
  width:60vw;
  margin-top: 3.2vw;
  padding:0;
 

}

#profile-midright-container ul {
  height:100%;
  padding:0;
  width:60vw;
}


.looking-for > li {
 float:left;

}

.looking-for > li > a {
  width:20vw;
  height:5vw;
  display:inline-block;
  padding:1.75vw 0;
  box-sizing:border-box;
  border-right: 1px solid white;
  text-align: center;
  display:inline-block;
}

.looking-for > li:last-child  > a {
  border-right:none;
}
#profile-upleft-container {
  position: relative;
  width: 33%;
  float:left;
  margin:4vw 2vw 2vw 2vw;


}
.recent-activity-title {
  padding:1.25vw 0 1.25vw 0;
  color:white;
  height:4vw;
  width:30vw;
  margin:2vw 0 0 1vw;
  font-size: 1.3vw;
  text-align: center;
  background: rgb(22,124,255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(22,124,255,1) 0%, rgba(79,143,255,1) 51%, rgba(22,124,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(22,124,255,1)), color-stop(51%,rgba(79,143,255,1)), color-stop(100%,rgba(22,124,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(22,124,255,1) 0%,rgba(79,143,255,1) 51%,rgba(22,124,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(22,124,255,1) 0%,rgba(79,143,255,1) 51%,rgba(22,124,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(22,124,255,1) 0%,rgba(79,143,255,1) 51%,rgba(22,124,255,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(22,124,255,1) 0%,rgba(79,143,255,1) 51%,rgba(22,124,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#167cff', endColorstr='#167cff',GradientType=0 ); /* IE6-9 */
}

#recent-activity {
  position: relative;
  background-color: white;
  width: 30vw;
  height: 30vw;
  top:0;
  float:left;
  margin: 8vw 0 5vw 1vw;
  overflow: scroll;
  margin-top:0;
}

#recent-activity ul {
  position: absolute;
  margin:0 .5vw 1vw 2vw;
  width: 8vw;
  list-style: none;
}

#recent-activity li {
  position: relative;
  padding:1.5vw 3vw 1.5vw 3vw;
  width: 25vw;
  border-bottom: 1px solid black;
  font-size: 1vw;
}

#recent-activity p {
  position: absolute;
  right: .5vw;
  top: 2.5vw;
}

#recent-activity-title h4 {
  margin: 0;
  width: 29vw;
  color: white;
}


.video-wrapper {
  position: absolute;
  top: 1.2vw;
  left: 1.2vw;
}

.video-wrapper {
  position:relative;
  padding-bottom:66.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
  background-color:none;
}

.video-wrapper iframe, .video-wrapper object, .video-wrapper embed {
  position:absolute;
  top:0;
  left:0;
  width:93%;
  height:93%;
}

#account-settings {
  background-color: white;
}

#footer-container {
  position: relative;
  bottom: 0;
  text-align: center;
  clear:both;

}



footer {
  background-color: black;
  color: white;
  width: 100%;
  z-index: 12;
  position: absolute
  bottom:0;
  clear:both;
  box-sizing:border-box;
  
 }

 footer a {
  transition:all .3s ease-in-out;

 }


.footer-link {
  color: white;
  font-size: 1.5vw;
  position: relative;
  float:left;
  padding-left:2vw;
  margin-left:2.5vw;
  border-width: 0 0 0 1px;
  border-style: solid;
  border-color:rgb(39,175,208);

 
}

#no-dot-footer {
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color:rgb(39,175,208);
  padding-right:2vw;

}

#social {
  padding-bottom:1vw;
  margin-top:1vw;
  text-align: center
 

}

.social-media-icon1 {
  position: relative;
  width:3vw;
  margin:right:1vw;
  -webkit-transition: all .3s ease-in-out;

}
.social-media-icon2 {
  position: relative;
  width:3vw;
 -webkit-transition: all .3s ease-in-out;

}
.social-media-icon3 {
  position: relative;
  width:3vw;
  -webkit-transition: all .3s ease-in-out;
}

.social-media-icon1:hover {
 transform:scale(1.3);
}

.social-media-icon2:hover {
 transform:scale(1.3);
}

.social-media-icon3:hover {
  transform:scale(1.3);
}

footer a:hover {
  color: rgb(22,124,255);
  text-decoration: none;

}

#message-icon {
  border-radius: 30% 50% 50% 50%;
}

#affordability-icon {
  border-radius: 50%;
}

#lock-icon {
  border-radius: 40% 40% 0 0;
}
ul#footer-class {
  display:inline-block;
  text-align: center;
 
}

.footer-pages {
  width:100%;
  text-align: center
}

p {
  margin-top:.5vw;
  font-size:1vw;
}
.profile {
  position: relative;
  float:left;
  height: 23vw;
  width:57vw;
  margin: 7.8vw 0 1vw 0;
  border:none;
}




.profile > a {
text-align: center;
width:8vw;
padding:.2vw;
display:inline-block;
border:1px white solid;
border-bottom-width: 0;
background: rgba(255, 255, 255, 0.5);
}
