<script type="text/x-handlebars" data-template-name="customer-support">

<div class="customer-support-container">
	<div class="support-main">
		<div class="customer-support-form">
			<div class="customer-support-title"><h1>Customer Support</h1></div>
			<ul class="support-inputs">
				<li><input type="email" class="support-email" placeholder="E-mail"/></li>
				<li><textarea class="support-text-area" placeholder="your issue"/></li>
				<li><a href="#" class="support-btn">Send</a></li>
			</ul>
		</div>
	</div>
</div>



</script>