<script type="text/x-handlebars" data-template-name="main-page">
  <div id="container">
    <img id="background-HomePage-Hax" {{bind-attr src=backgroundHomePageFive alt="backgroundHomePage"}}>
    <ul class="cb-slideshow">
      <li><span><h1>it&rsquo;s a jungle out<br>there</h1><h3>Peer to Peer Ticket Exchange Simplified</h3><img id="background-HomePage" {{bind-attr src=backgroundHomePageFive alt="backgroundHomePage"}}></span></li>
      <li><span><h1>ticket exchange simplified</h1><h3>Buy, Sell, or Trade Tickets on the Go</h3><img id="background-HomePage" {{bind-attr src=backgroundHomePageThree alt="backgroundHomePage"}}></span></li>
      <li><span><h1>it&rsquo;s a jungle out<br>there</h1><h3>Peer to Peer Ticket Exchange Simplified</h3><img id="background-HomePage" {{bind-attr src=backgroundHomePageOne alt="backgroundHomePage"}}></span></li>
      <li><span><h1>ticket exchange simplified</h1><h3>Buy, Sell, or Trade Tickets on the Go</h3><img id="background-HomePage" {{bind-attr src=backgroundHomePageTwo alt="backgroundHomePage"}}></span></li>
      <li><span><h1>it&rsquo;s a jungle out<br>there</h1><h3>Peer to Peer Ticket Exchange Simplified</h3><img id="background-HomePage" {{bind-attr src=backgroundHomePageFive alt="backgroundHomePage"}}></span></li>
      <li><span><h1>ticket exchange simplified</h1><h3>Buy, Sell, or Trade Tickets on the Go</h3><img id="background-HomePage" {{bind-attr src=backgroundHomePageThree alt="backgroundHomePage"}}></span></li>
    </ul>
    <div id="search-bar">
      <form class="searchbox" >
        <div id="search-btn">{{#link-to 'ticket-feed.search' searchText}}Profile<img src="img/searchbar2.png">{{/link-to}}</div>
        {{input type="search" value=searchText placeholder="Search by artist, genre or location"}}
        <ul class="suggestions">
          {{#each object in tempTicketJson}}
            <span {{action 'showModal' 'buyticket-modal' object}}>
            <li><bc><a>Ticket: {{object.name}}</a></bc></li>
            </span>
          {{/each}}
        </ul>
      </form>
    </div>
  </div>
  <div id="middle-background-container">
    <img id="middle-img" {{bind-attr src=middleBackground alt="middleBackground"}}>
    <div id="main-features">
      <h1>features</h1>
      <div class="column" id="peer-to-peer-icon">
        <h3>peer to peer</h3>
        <p>Tixzoo is a peer-to-peer ticket exchange platform</p>
      </div>
      <div class="column" id="security-icon">
        <h3>security</h3>
        <p>User exchange, identity, and payment is secured and authenticated</p>
      </div>
      <div class="column" id="affordability-icon">
        <h3>affordability</h3>
        <p>Tixzoo charges the bare minimum for transaction fees and offers rewards as long term incentive</p>
      </div>
    </div>
  </div>
    <div id="bottom-background-container">
      <div class="main-about">
        <form class="newsletter">
        <h1 class="newsletter-title">newsletter</h1>
          <p>{{input class="newsletter-form" placeholder="Your email address" value=email }}</p>
          <button type="button" id="newsletter-btn" {{action 'ok'}}>Join the Zoo</button>
        </form>
      </div>
    </div>
</script>