<script type="text/x-handlebars" data-template-name="buyticket-modal">
      {{#my-modal title='Welcome' ok='save' close='removeModal'}}
        <form {{action 'ok' on='submit' target=view}}>
          <div class="buy-form-group">
            {{#if toggled}}
            <div {{bind-attr id=creditCard}}>
              <div class="credit-card-info">
               <form class="payment-info">
                <p><input type="text">Your name</p>
                </form>
              </div>
            </div>
            {{else}}
            <div id="front">
              <img class="view-ticket-userpic" {{bind-attr src=maxFrat alt="maxFrat"}}>
              <p id="view-ticket-price"><span>$24</span></p>
              <div class="view-rating">
                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span></div>
                <p id="view-ticket-artist">{{model.name}}</p>
                <p id="view-ticket-date">June 25th, 2015</p>
                <p id="view-ticket-time">8:00 pm</p>
                <a id="view-ticket-venue">Avalon Nightclub, Hollywood, CA</a>
                <p id="user-agreement">By clicking "Buy", you agree to Tixzoos <a href="#">Terms of Service</a> and <a href="#">User Agreement</a>.</p>
              </div>
            </div>
            {{/if}}
            <a {{action 'creditCard'}}>Add Credit Card</a>
          </div>
        </form>
      {{/my-modal}}
    </script>


<script type="text/x-handlebars" data-template-name="signup-modal">
      {{#mysecond-modal id="signupmodal" title='Welcome' ok='save' close='removeModal'}}

        <form {{action 'ok' on='submit' target=view}}>
          <div class="form-group">
            {{input class="form-control" placeholder=usernameText value=username}}
            {{input class="form-control" type="password" placeholder=passwordText value=password }}
            {{input class="form-control" type="password" placeholder=passwordVerifyText value=passwordVerify }}
            {{input class="form-control" placeholder=emailText value=email }}
            {{#if existsAlready}}
              <div style="color: red;">
              <strong>{{errorMessage}}</strong>
              </div>
            {{/if}}
          </div>
        </form>

      {{/mysecond-modal}}

    </script>

    <script type="text/x-handlebars" data-template-name="login-modal">
      {{#mysecond-modal title='Welcome' ok='save' close='removeModal'}}
        <form {{action 'ok' on='submit' target=view}}>
          <div class="form-group">
            <div class="login_modal_padding">
            {{input class="form-control" placeholder=usernameText value=username}}
            {{input class="form-control" type="password" placeholder=passwordText value=password }}
            </div>
          </div>
        </form>
      {{/mysecond-modal}}
    </script>

    <script type="text/x-handlebars" data-template-name="logout-modal">
      {{#my-modal title='Logout' ok='logout' close='removeModal'}}
        Are you sure you want to logout?
      {{/my-modal}}
    </script>

    <script type="text/x-handlebars" data-template-name="createticket-modal">
      {{#my-modal title='Add your ticket' ok='save' close='removeModal'}}
        <form {{action 'ok' on='submit' target=view}}>
          <div class="form-group">
            <label>Name</label>
            {{input class="form-control" value=name}}
            <label>Location</label>
            {{input class="form-control" value=location }}
            <label>Date</label>
            {{input class="form-control" value=date }}
            <label>Price</label>
            {{input class="form-control" value=price }}
            <label>Type</label>
            {{input class="form-control" value=type }}
            <label>Description</label>
            {{input class="form-control" value=description }}
          </div>
        </form>
      {{/my-modal}}
    </script>

    <script type="text/x-handlebars" data-template-name="components/my-modal">
      <div class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
              {{yield}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" {{action 'ok'}}>Complete</button>
            </div>
          </div>
        </div>
      </div>
    </script>

    <script type="text/x-handlebars" data-template-name="components/mysecond-modal">
      <div class="modal fade">
        <div class="modalls-dialog">
          <div class="modalls-content">
            <div class="modalls-header">

              <h4 class="modalls-title">{{title}}</h4>
            </div>
            <div class="modalls-body">
              {{yield}}
            </div>
            <div class="modalls-footer">
              <button type="button" class="btn btn-primary" {{action 'ok'}}>Submit</button>
            </div>
          </div>
        </div>
      </div>
    </script>