<script type="text/x-handlebars" data-template-name="signup-modal">
      {{#my-modal title='Sign Up Information' ok='save' close='removeModal'}}
        <form {{action 'ok' on='submit' target=view}}>
          <div class="form-group">
            <label>Username</label>
            {{input class="form-control" value=username}}
            <label>Password</label>
            {{input class="form-control" type="password" value=password }}
            <label>Re-Enter Password</label>
            {{input class="form-control" type="password" value=passwordVerify }}
            <label>Email Address</label>
            {{input class="form-control" value=email }}
          </div>
        </form>
      {{/my-modal}}
    </script>

    <script type="text/x-handlebars" data-template-name="login-modal">
      {{#my-modal title='Sign Up Information' ok='save' close='removeModal'}}
        <form {{action 'ok' on='submit' target=view}}>
          <div class="form-group">
            <label>Username</label>
            {{input class="form-control" value=username}}
            <label>Password</label>
            {{input class="form-control" type="password" value=password }}
          </div>
        </form>
      {{/my-modal}}
    </script>

    <script type="text/x-handlebars" data-template-name="logout-modal">
      {{#my-modal title='Logout' ok='logout' close='removeModal'}}
        Are you sure you want to logout?
      {{/my-modal}}
    </script>

    <script type="text/x-handlebars" data-template-name="createticket-modal">
      {{#my-modal title='Add your ticket' ok='save' close='removeModal'}}
        <form {{action 'ok' on='submit' target=view}}>
          <div class="form-group">
            <label>Name</label>
            {{input class="form-control" value=name}}
            <label>location</label>
            {{input class="form-control" type="password" value=location }}
            <label>Date </label>
            {{input class="form-control" type="password" value=date }}
            <label>Price</label>
            {{input class="form-control" value=price }}
          </div>
        </form>
      {{/my-modal}}
    </script>

    <script type="text/x-handlebars" data-template-name="components/my-modal">
      <div class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
              {{yield}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" {{action 'ok'}}>Submit</button>
            </div>
          </div>
        </div>
      </div>
    </script>