<script type="text/x-handlebars" data-template-name="post-ticket">

  

      <div id="ticket-post-container">
        <div id="ticket-post-positioner-left">

        <div id="ticket-input-box">
          <p id="enter-post-info">Enter ticket information</p>
           <p class="input-text">Enter details on ticket(s)</p>
          <form id="ticket-post-inputs">
            {{input class="artist-text" placeholder=artistText value=artist}}
            {{input class="venue-text" placeholder=venueText value=venue}}
            {{input id="datepicker" placeholder=dateText value=date}}
            {{input class="price-text" placeholder=priceText value=price}}
            <div class="quantity-dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Type
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">GA</a></li>
                <li><a href="#">VIP</a></li>
                <li><a href="#">Seat #</a></li>
                <li><a href="#">Deluxe Package</a></li>
              </ul>
            </div>
            <div class="type-dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Add Tix
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
              </ul>
            </div>
          </form>
        <div class="credit-dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Select Payment Method
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Add Payment Method</a></li>
                <li><a href="#">Visa ending in 2998</a></li>
                <li><a href="#">MasterCard ending in 5490</a></li>
              </ul>
            </div>
        </div>
        </div>
        <div id="ticket-post-positioner-right">
        <div id="ticket-input-box">
          
          <p id="enter-validation">upload your ticket</p>
          <span class="btn btn-default btn-file">
          Browse <input type="file">
          </span>
          <form id="ticket-post-inputs">
          <input type="submit" value="Submit">
          </form>

        </div>
        </div>
      </div>
   
</script>