<script type="text/x-handlebars" data-template-name="ticket-wallet">

<div class="ticket-wallet-container">
	<div class="wallet">
	  <h1>Ticket Wallet</h1>
		<ul class="wallet-tickets">
			<li>
				<img src="img/disclosure-artist.png">
				<ul class="ticket-wallet-details">
					<li>Disclosure</li>
					<li>September 18, 2015</li>
					<li>Avalon Night Club, Hollywood</li>
					<li>Bought from <a href="#" class="user-link">Jeremy</a></li>
				</ul>
				<a href="#" class="open-pdf">Open PDF</a>
			</li>
			<li>
				<img src="img/disclosure-artist.png">
			</li>
			<li>
				<img src="img/disclosure-artist.png">
			</li>
		</ul>
	</div>
</div>

</script>