<script type="text/x-handlebars" data-template-name="user-profile">


  <div id="user-profile-container">
    <div id ="top-layer">
      <div id="profile-upleft-container">
        <div class="recent-activity-title">Recent Activity</div>
          <div id="recent-activity">
            <ul class="recent-activity-list">
              <li><strong>Cinnamon Mercedes</strong> bought <a href="#"><strong>Justin Martin</strong></a> tix from Jessica.<p>7m</p></li>
              <li><strong>Cinnamon Mercedes</strong> bought <a href="#"><strong>Justin Martin</strong></a> tix from Jessica.<p>7m</p></li>
              <li><strong>Cinnamon Mercedes</strong> bought <a href="#"><strong>Justin Martin</strong></a> tix from Jessica.<p>7m</p></li>
              <li><strong>Cinnamon Mercedes</strong> bought <a href="#"><strong>Justin Martin</strong></a> tix from Jessica.<p>7m</p></li>
              <li><strong>Cinnamon Mercedes</strong> bought <a href="#"><strong>Justin Martin</strong></a> tix from Jessica.<p>7m</p></li>
              <li><strong>Cinnamon Mercedes</strong> bought <a href="#"><strong>Justin Martin</strong></a> tix from Jessica.<p>7m</p></li>
              <li><strong>Cinnamon Mercedes</strong> bought <a href="#"><strong>Justin Martin</strong></a> tix from Jessica.<p>7m</p></li>
            </ul>
        </div>
      </div>

      <div class="profile">
        <a class="about-me">About me</a>
          <div class="profile-upright-container">
            <img class="user-prof-pic" {{bind-attr src=maxFrat alt="maxFrat"}}>
            <h2 id="profile-title"></h2>
            <div class="rating">
              <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
            </div>
            <p id="music-tags">Music Tags</p>
            <ul id="music-tag-list">
              <a href="#"><li>House</li></a>
              <a href="#"><li>Tropical</li></a>
              <a href="#"><li>Drake</li><br></a>
              <a href="#"><li>Dirty Bird</li></a>
              <a href="#"><li>Justin Martin</li></a>
            </ul>
          </div>
      </div>

          <div id="profile-midright-container">
            <ul class="looking-for">
              <li class="has-submenu"><a href="#">buying</a>
               
              </li>
              <li class="has-submenu"><a href="#">selling</a>
                
              </li>
            </ul>
          </div>
        <div id="profile-downleft-container">
        </div>
      </div>
      </div>


</script>