<script type="text/x-handlebars" data-template-name="buyticket-modal">
      {{#my-modal title='Welcome' ok='save' close='removeModal'}}
        <form {{action 'ok' on='submit' target=view}}>
        {{#if toggled}}
          <div {{bind-attr class=creditCard}}>
            <div class="credit-card-info">
              
               <form class="payment-info">
                  <ul class="payment-input">
                  <li>{{input id="textfieldGeneric" placeholder="Full Name" value=fullName}}</li>
                  <li>{{input id="textfieldGeneric" placeholder="Credit Card Number" value=creditCardNumber}}</li>
                  <li>{{input id="textfieldGeneric" placeholder="Exp. Date" value=expDate}}</li>
                  <li>{{input id="textfieldGeneric" placeholder="CVV"value=CVC}}</li>
                  </ul>
                </form>
              </div>
            </div>
            <div id="add-credit">
              <a {{action 'creditCardOutput'}} style="color:rgb(22,124,255);">Click to Add credit card</a>
              <br><a {{action 'creditCard'}}><strong>Return</strong></a>
            </div>
        {{else}}
            <table style="margin-top: auto; height: 7vw; width: 100%; margin-left: auto; margin-right: auto;">
              <tr>
                <td style="padding-right: 3vw; padding-bottom: 3vw;">
                <img style="margin-bottom: 2vw;"{{bind-attr src=maxFrat alt="maxFrat"}}>
                </td>
                <td>
                  <div style="text-align: center;">
                    <span><p style="font-size: 2vw; text-align: center; display: inline-block;">{{model.name}}</p></span>
                    <p style="font-size: 1vw;">$24</p>
                    <p id="view-ticket-date">June 25th, 2015</p>
                    <p id="view-ticket-time">8:00 pm</p>
                    <p id="view-ticket-venue">Avalon Nightclub, Hollywood, CA</p>
                    <p id="user-agreement">By clicking "Buy", you agree to Tixzoos <a style="font-color: blue;" href="#">Terms of Service</a> and <a href="#">User Agreement</a>.</p>
                    <div id="add-credit">
                      <a {{action 'creditCard'}}>Add Credit Card</a>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
        {{/if}}
        </form>
      {{/my-modal}}
  </script>


<script type="text/x-handlebars" data-template-name="signup-modal">
      {{#mysecond-modal id="signupmodal" title='Welcome' ok='save' close='removeModal'}}
        <form {{action 'ok' on='submit' target=view}}>

          <div class="form-group">
            {{input class="form-control" placeholder=emailText value=email }}
            {{input class="form-control" type="password" placeholder=passwordText value=password }}
            {{input class="form-control" type="password" placeholder=passwordVerifyText value=passwordVerify }}
            <br><br>
            {{#if existsAlready}}
              <div style="color: red;">
              <strong>{{errorMessage}}</strong>
              </div>
            {{/if}}
          </div>
        </form>

      {{/mysecond-modal}}

    </script>

    <script type="text/x-handlebars" data-template-name="login-modal">
      {{#mysecond-modal ok='save' close='removeModal'}}
        <form {{action 'ok' on='submit' target=view}}>
          <div style="width: 100%">
            <div class="login_modal_padding">
              {{#if spinner}}
              <div style="width: 100%;">
                <img id="spinnerImg" {{bind-attr src=spinnerImg alt="spins"}}>
                <br>
                <span style="text-align: center;">Loggin you in...</span>
              </div>
              {{else}}
                {{input class="form-control" placeholder=emailText value=email}}
                {{input class="form-control" type="password" placeholder=passwordText value=password }}
              {{/if}}
            </div>
              {{#if signInError}}
                <div style="color: red;">
                <strong>{{errorMessage}}</strong>
                </div>
              {{/if}}
          </div>
        </form>
      {{/mysecond-modal}}
    </script>

    <script type="text/x-handlebars" data-template-name="createticket-modal">
      {{#my-modal title='Add your ticket' ok='save' close='removeModal'}}
        <form {{action 'ok' on='submit' target=view}}>
          <div class="form-group">
            <label>Name</label>
            {{input class="form-control" value=name}}
            <label>Location</label>
            {{input class="form-control" value=location }}
            <label>Date</label>
            {{input class="form-control" value=date }}
            <label>Price</label>
            {{input class="form-control" value=price }}
            <label>Type</label>
            {{input class="form-control" value=type }}
            <label>Description</label>
            {{input class="form-control" value=description }}
          </div>
        </form>
      {{/my-modal}}
    </script>

    <script type="text/x-handlebars" data-template-name="components/my-modal">
      <div class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
              {{yield}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" {{action 'ok'}}>Complete</button>
            </div>
          </div>
        </div>
      </div>
    </script>

    <script type="text/x-handlebars" data-template-name="components/mysecond-modal">
      <div class="modal fade">
        <div class="modalls-dialog">
          <div class="modalls-content">
            <div class="modalls-header">
              <a href="#" class="close-btn">X</a>
              <h4 class="modalls-title">{{title}}</h4>
            </div>
            <div class="modalls-body">
              {{yield}}
            </div>
            <div class="modalls-footer">
              <button type="button" class="btn btn-primary" {{action 'ok'}}>Submit</button>
            </div>
          </div>
        </div>
      </div>
    </script>